header {
    height: 70px;
    background-color: var(--color-bg-secondary);
    color: var(--color-font-secondary);
    display: flex;
    align-items: center;
}

.header-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
}

.menu-item {
    margin-right: 20px;
}

.menu-active {
    font-weight: 700;
}